:root{
    --content-width: 100%;
    --content-max-width: auto;
    --content-min-width: auto;
    --mainRed: #D7063B;
    --colorBlack: #000000;
    --colortWhite: #FFFFFF;
    --colorGray: #BEC0C3;
    --lineGray: #CBD2D8;
    --backGray: #E5E9EF;
}


/* header */
.header{
    padding: 2.1rem 13.3rem 1.6rem 13.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorBlack);
    position: relative;
    flex-direction: column;
}
.header-logo__img{
    display: block;
    width: 10.5rem;
}
@media screen and (min-width: 1016px){
    .header{
        padding: 3.0rem 36.9rem 1.5rem 36.5rem;
        flex-direction: column;
    }
    .header-logo{
        margin-bottom: 2.4rem;
    }
    .header-logo__img{
        width: 12.7rem;
    }
}

/* header-sp */
.header-sp{
    display: flex;
    align-items: center;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.4rem;
    height: 1.2rem;
    position: absolute;
    top: 2.4rem;
    right: 1.4rem;
}
.hamburger-icon__line{
    width: 100%;
    height: 0.1rem;
    background-color: var(--colortWhite);
    /* アニメーション:ふわっと */
    /* all ease:入りも抜けも */
    transition: .3s all ease;
}

/* 動かすためのモディファイや */
.hamburger-icon__line--left{
    /* 変形:角度 */
    transform: rotate(45deg);
}
/* 動かすためのモディファイや */
.hamburger-icon__line--right{
    /* 変形:角度 */
    transform: rotate(-45deg);
    position: absolute;
}
/* 動かすためのモディファイや */
.hamburger-icon__line--none{
    display: none;
}
/* 動かすためのモディファイや */
.hamburger-icon--open{
    top: 3rem;
}

.nav-sp{

}
.header-pc{
    display: none;
}
@media screen and (min-width: 1016px){
    .header-sp{
        display: none;
    }
    .header-pc{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-pc__primary-list{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1.0rem;
        right: 1.0rem;
    }
    .header-pc__primary-item{
        width: 14.8rem;
        margin-right: 0.5rem;
        position: relative;
    }
    .header-pc__primary-item:last-of-type{
        margin-right: 0;
    }
    .header-pc__primary-link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.2rem 2.2rem 1.4rem 2.7rem;
        border: 0.1rem solid var(--lineGray);
        border-radius: 0.6rem;
        font-size: 1.2rem;
        color: var(--colortWhite);
        line-height: 1.6;
        font-family: "Noto Serif JP", serif;
    }
    .header-pc__white-button::after{
        content: "";
        display: block;
        background-image: url("/astalift-second/assets/images/white-button.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.0rem;
        height: 1.0rem;
        position: absolute;
        top: 1.2rem;
        right: 3.5rem;
    }
    .header-pc__secondary-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
    .header-pc__secondary-item:nth-of-type(-n+3){
        margin-right: 7.0rem;
    }
    .header-pc__secondary-link{
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: var(--colortWhite);
        line-height: 1.6;
        font-family: "Noto Serif JP", serif;
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .header-pc__secondary-link:hover{
        color: #A0A3A6;
    }
    .header-pc__white-arrow::after{
        content: "";
        display: block;
        background-image: url("/astalift-second/assets/images/white-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.4rem;
        height: 0.7rem;
        margin-left: 0.9rem;
    }
}

/* main-visual */
.main-visual{
    width: 100%;
    margin: 0 auto;
}
.main-visual__sp-img{
    display: block;
    width: 100%;
    margin-bottom: 4.0rem;
}
.main-visual__pc-img{
    display: none;
}
@media screen and (min-width: 89.7rem){
    .main-visual__sp-img{
        display: none;
    }
    .main-visual__pc-img{
        display: block;
        width: 100%;
        margin-bottom: 7.5rem;
    }
}

/* main-title */
.main-title{
    display: flex;
    align-items: center;
    /* 縦並び */
    flex-direction: column;
    color: var(--mainRed);
    font-size: 3.0rem;
    line-height: 1.6;
    font-family:"Playfair Display", serif;
    margin-bottom: 2.3rem;
}
.main-title::after{
    margin-top: 0.2rem;
}
@media screen and (min-width: 89.7rem){
    .main-title{
        font-size: 3.6rem;
        margin-bottom: 4.9rem;
    }
    .main-title::after{
        margin-top: 0.9rem;
    }
}

/* pick-up */
.pick-up{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5.0rem;
}
.pick-up__title::after{
    content: "ピックアップ";
    display: flex;
    color: var(--colorBlack);
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
.pick-up__primary{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    position: relative;
    width: 95%;
    margin-left: 2.0rem;
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 4.0rem 2.0rem 2.0rem rgba(12, 8, 21, .3);
}
.pick-up__primary::before{
    content: "";
    display: block;
    width: 100%;
    height: 85%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* グラデーション */
    background: linear-gradient(to right, rgba(215, 6, 59, 1) ,rgba(105, 3, 31, 1) , black 140%);
}
.pick-up__primary-list{
    display: flex;
    padding: 0 0 5.0rem 3.0rem;
    /* 重ね順 */
    z-index: 1;
}
.pick-up__primary-item{
    width: 25.0rem;
    margin-right: 2.0rem;
    flex-shrink: 0;
    flex-grow: 0;
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 0 2.0rem 1.0rem rgba(0, 0, 0, .2);
}
.pick-up__primary-link{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.pick-up__primary-link__img{
    display: block;
    width: 100%;
}
.pick-up__primary-link__text{
    background-color: var(--colortWhite);
    padding: 1.4rem 2.0rem 2.0rem;
    flex-grow: 1;
}
.pick-up__primary-link__title{
    color: var(--colorBlack);
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
.pick-up__primary-link__title::after{
    content: "";
    display: block;
    border: 0.1rem solid var(--mainRed);
    width: 2.0rem;
    margin: 0.8rem 0;
}
.pick-up__primary-link__lead{
    color: var(--colorBlack);
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 64.0rem){
    .pick-up{
        margin-bottom: 10.0rem;
    }
    .pick-up__title::after{
        font-size: 1.8rem;
        margin-top: 0.9rem;
    }
    .pick-up__primary{
        position: relative;
        width: 98%;
        margin-left: 4.0rem;
    }
    .pick-up__primary-list{
        padding: 0 0 9.4rem 5.0rem;
    }
    .pick-up__primary-item{
        width: 35.6rem;
        margin-right: 6.0rem;
        /* 影 : 左右,上下,ぼかし指定,色 */
        box-shadow: 5.0rem 2.0rem 2.0rem rgba(12, 8, 21, .3);
    }
    .pick-up__primary-link__text{
        padding: 2.2rem 2.7rem 3.0rem 2.8rem;
    }
    .pick-up__primary-link__title{
        font-size: 2.0rem;
    }
    .pick-up__primary-link__title::after{
        border: 0.2rem solid var(--mainRed);
        margin: 1.6rem 0 1.8rem;
    }
    .pick-up__primary-link__lead{
        font-size: 1.4rem;
    }
}

/* sub-title */
.sub-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    color: var(--colorBlack);
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
    margin-bottom: 2.9rem;
}
.sub-title::after{
    content: "";
    display: block;
    border: 0.1rem solid var(--mainRed);
    width: 3.0rem;
    margin-top: 1.3rem;
}
@media screen and (min-width: 1016px){
    .sub-title{
        align-items: stretch;
        font-size: 2.4rem;
        margin-bottom: 3.0rem;
    }
    .sub-title::after{
        width: 4.0rem;
        margin-top: 2.1rem;
    }
}

/* products */
.products__main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6.0rem 2.0rem 8.0rem;
    background-color: var(--backGray);
}
.products__main-title::after{
    content: "商品情報";
    display: flex;
    color: var(--colorBlack);
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
@media screen and (min-width: 1016px){
    .products__main{
        padding: 11.0rem 0;
    }
    .products__main-title::after{
        font-size: 1.8rem;
    }
}

/* products__primary */
.products__primary{
    margin-bottom: 6.0rem;
}
.products__primary:last-of-type{
    margin-bottom: 0;
}
.products__primary-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products__primary-item{
    width: calc(( 100% - 1.5rem ) / 2);
    margin-bottom: 2.0rem;
}
.products__primary-item:nth-last-of-type(-n+2){
    margin-bottom: 0;
}
.products__primary-link{
    display: block;
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 0 0.8rem 1.0rem rgba(0, 0, 0, .2);
}
.products__primary-link__img{
    display: block;
    width: 100%;
}
.products__primary-link__text{
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.3rem;
    flex-grow: 1;
    background-color: var(--colortWhite);
}
.products__primary-link__title{
    font-size: 1.0rem;
    line-height: 1.6;
    color: var(--colorBlack);
    font-family: 'Noto Sans JP', sans-serif;
    border: 0.1rem solid var(--colorGray);
    padding: 0.2rem 0.6rem;
    width: fit-content;
    margin-bottom: 0.8rem;
}
.products__primary-link__lead{
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--colorBlack);
    font-family: "Noto Serif JP", serif;
    flex-grow: 1;
}
.products__primary-item__note{
    font-size: 1.0rem;
    line-height: 1.6;
    color: #3B4043;
    margin-top: 0.8rem;
    font-family: 'Noto Sans JP', sans-serif;
}
@media screen and (min-width: 1016px){
    .products__primary{
        margin-bottom: 7.0rem;
        max-width: 101.6rem;
        padding: 0 3.0rem;
    }
    .products__primary-list{
        margin: 0 auto;
    }
    .products__primary-item{
        width: calc(( 100% - 8.0rem ) / 3);
        margin-bottom: 3.0rem;
    }
    .products__primary-item:nth-last-of-type(-n+1){
        margin-bottom: 0;
    }
    .products__primary-link{
        display: block;
        /* 影 : 左右,上下,ぼかし指定,色 */
        box-shadow: 0 1.0rem 1.5rem rgba(0, 0, 0, .2);
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .products__primary-link:hover{
        /* 影 : 左右,上下,ぼかし指定,色 */
        box-shadow: 0 2.0rem 2.0rem rgba(0, 0, 0, .2);
    }
    .products__primary-link__text{
        padding: 2.0rem;
    }
    .products__primary-link__title{
        font-size: 1.2rem;
        padding: 0.2rem 1.0rem;
        margin-bottom: 0.5rem;
    }
    .products__primary-link__lead{
        font-size: 2.0rem;
    }
    .products__primary-link__lead-br{
        display: none;
    }
    .products__primary-item__note{
        margin-top: 1.0rem;
    }
}

/* products__secondary */
.products__secondary{
    padding: 6.0rem 2.0rem 8.0rem;
}
.products__secondary-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__secondary-item{
    width: calc(( 100% - 1.5rem ) / 2);
    margin-bottom: 4.0rem;
}
.products__secondary-item:nth-of-type(3){
    margin-right: 0;
}
.products__secondary-item:nth-last-of-type(-n+2){
    margin-bottom: 0;
}
.products__secondary-link{
    display: block;
}
.products__secondary-img{
    display: block;
    width: 100%;
}
.products__secondary-link-title{
    /* display: flex;
    align-items: center; */
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--mainRed);
    font-family: "Noto Serif JP", serif;
    margin-top: 1.3rem;
    position: relative;
    width: fit-content;
}
.products__secondary-link-title::after{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/red-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.6rem;
    height: 1.2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -1.2rem;
}
.products__secondary-link-lead{
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--colorBlack);
    font-family: "Noto Serif JP", serif;
    margin-top: 0.5rem;
}
@media screen and (min-width: 1016px){
    .products__secondary{
        padding: 0;
    }
    .products__secondary-list{
        margin: 0 auto;
        padding: 11.0rem 0;
        max-width: 101.6rem;
        justify-content: stretch;
    }
    .products__secondary-item{
        width: calc(( 100% - 7.8rem ) / 3);
        margin-bottom: 7.2rem;
        margin-right: 3.9rem;
    }
    .products__secondary-link-title{
        font-size: 2.4rem;
        margin-top: 1.5rem;
    }
    .products__secondary-link-title::after{
        width: 0.8rem;
        height: 1.6rem;
        right: -1.4rem;
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .products__secondary-link:hover .products__secondary-link-title::after{
        right: -2.4rem;
    }
    .products__secondary-link-lead{
        font-size: 1.6rem;
        margin-top: 0.6rem;
    }
}

/* movie */
.movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8.0rem;
}
.movie__title::after{
    content: "ブランドムービー";
    display: block;
    color: var(--colorBlack);
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
.movie__img{
    display: block;
    width: 100%;
}
@media screen and (min-width: 1016px){
    .movie{
        margin-bottom: 9.1rem;
    }
    .movie__title{
        display: none;
    }
    .movie__img{
        width: 101.6rem;
        padding: 0 3.0rem;
    }
}
/* common__btn */
.common__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.5rem;
    padding: 1.4rem 3.2rem 1.4rem 3.1rem;
    background: linear-gradient(to right, rgba(215, 6, 59, 1) ,rgba(105, 3, 31, 1) , black 140%);
    font-size: 1.4rem;
    color: var(--colortWhite);
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
    border-radius: 0.6rem;
    margin-top: 3.0rem;
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, .3);
    /* paddingとborderがwidthとheightの中に含まれるようになる。 */
    box-sizing: border-box
}
@media screen and (min-width: 1016px){
    .common__btn{
        width: 35.6rem;
        padding: 1.75rem 2.0rem;
        font-size: 1.6rem;
        margin-top: 5.0rem;
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .common__btn:hover{
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, .3);
    }
}
/* news */
.news{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.0rem;
    margin-bottom: 5.3rem;
}
.news__title::after{
    content: "お知らせ";
    display: block;
    color: var(--colorBlack);
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
.news__item--pc{
    display: none;
}
.news__item{
    border-top: 0.1rem solid var(--lineGray);
}
.news__item:last-of-type{
    border-bottom: 0.1rem solid var(--lineGray);
}
.news__link{
    display: flex;
    padding: 1.6rem 0;
}
.news__link-date{
    font-size: 1.2rem;
    color: #86898E;
    line-height: 1.6;
    margin-right: 1.4rem;
    font-family: "Noto Serif JP", serif;
}
.news__link-text{
    font-size: 1.4rem;
    color: var(--colorBlack);
    line-height: 1.6;
    font-family: "Noto Sans JP", sans-serif;
    /* 下線を引く */
    text-decoration: underline;
}
@media screen and (min-width: 1016px){
    .news{
        padding: 0 3.0rem;
        margin: 0 auto 9.5rem;
        max-width: 98.0rem;
    }
    .news__title::after{
        font-size: 1.8rem;
    }
    .news__item--pc{
        display: block;
    }
    .news__link{
        padding: 1.6rem 3.1rem 1.6rem 2.3rem;
    }
    .news__common-link{
        margin-top: 6.7rem;
    }
    .news__link-text:hover{
    /* 下線を消す */
    text-decoration: none;
    }
}

/* footer */
/* footer__primary */
.footer__primary{
    margin-bottom: 4.9rem;
}
.footer__primary-list{
    display: flex;
    flex-direction: column;
}
.footer__primary-item{
    border-top: 0.1rem solid var(--lineGray);
}
.footer__primary-item:last-of-type{
    border-bottom: 0.1rem solid var(--lineGray);
}
.footer__primary-link{
    display: flex;
    align-items: center;
    padding: 0.5rem 2.0rem 0.5rem 1.1rem;
    position: relative;
}
.footer__primary-img{
    display: block;
    width: 6.5rem;
    margin-right: 2.3rem;
}
.footer__primary-title{
    font-size: 1.4rem;
    color: var(--colorBlack);
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
.footer__primary-title::after{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/red-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.7rem;
    height: 1.4rem;
    position: absolute;
    right: 2.0rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
@media screen and (min-width: 1016px){
    .footer__primary{
        max-width: 118.8rem;
        margin: 0 auto 5.0rem;
        padding: 0 3.0rem;
    }
    .footer__primary-list{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__primary-item{
        width: calc(( 100% - 12.0rem ) / 3 );
    }
    .footer__primary-item:last-of-type{
        border-bottom: 0;
    }
    .footer__primary-item:nth-last-of-type(-n+3){
        border-bottom: 0.1rem solid var(--lineGray);
    }
    .footer__primary-link{
        padding: 1.3rem 2.4rem;
        /*ふわっとさせる指定*/
        transition : 1s;
    }
    .footer__primary-link:hover{
        background-color: #E5E9EF;
        opacity: 0.3;
    }
    .footer__primary-img{
        margin-right: 1.5rem;
    }
    .footer__primary-title::after{
        display: none;
    }
}
/* footer__secondary */
.footer__secondary{
    padding: 0 2.0rem;
    margin-bottom: 6.0rem;
}
.footer__secondary-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colortWhite);
    border-radius: 0.6rem;
    padding: 0.2rem 0;
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, .2);
}
.footer__secondary-img{
    display: block;
    width: 100%;
}
@media screen and (min-width: 1016px){
    .footer__secondary{
        padding: 0 3.0rem;
        max-width: 35.6rem;
        margin: 0 auto 6.0rem;
    }
    .footer__secondary-link{
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .footer__secondary-link:hover{
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, .2);
    }
    .footer__secondary-img{
        display: block;
        width: 100%;
    }
}

/* footer__tertiary */
.footer__tertiary{
    padding: 4.2rem 0 2.5rem;
    background-color: var(--colorBlack);
}
.footer__tertiary--pc{
    display: none;
}
.footer__tertiary-padding{
    padding: 0 2.0rem;
}
/* footer__title */
.footer__title{
    font-size: 1.6rem;
    color: var(--colortWhite);
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
/* footer__tertiary-fanclub */
.footer__tertiary-fanclub{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4.9rem;
}
.footer__tertiary-fanclub--title{
    margin-bottom: 2.6rem;
}
.footer__tertiary-fanclub-link-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__tertiary-fanclub-link{
    width: calc(( 100% - 1.5rem ) / 2 );
}
.footer__tertiary-fanclub-img{
    display: block;
    width: 100%;
}
/* footer__tertiary-sns */
.footer__tertiary-sns{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.3rem;
}
.footer__tertiary-sns--title{
    margin-bottom: 2.2rem;
}
.footer__tertiary-sns-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__tertiary-sns-link{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--colortWhite);
    line-height: 1.6;
    font-family: "Playfair Display", serif;
}
.footer__tertiary-sns-list--insta{
    margin-right: 4.4rem;
}
.footer__tertiary-sns-list--insta::before{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.0rem;
    height: 2.0rem;
    margin-right: 0.8rem;
}
.footer__tertiary-sns-list--facebook{
    margin-right: 4.65rem;
}
.footer__tertiary-sns-list--facebook::before{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/fb.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.7rem;
}
.footer__tertiary-sns--list-twitter::before{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/twitter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.4rem;
    height: 2.0rem;
    margin-right: 0.8rem;
}

/* footer__tertiary-list */
.footer__tertiary-list{
    margin-bottom: 3.1rem;
}
.footer__tertiary-item{
    border-top: 0.1rem solid #222222;
    position: relative;
}
.footer__tertiary-item:last-of-type{
    border-bottom: 0.1rem solid #222222;
}
.footer__tertiary-link{
    display: block;
    font-size: 1.6rem;
    color: var(--colortWhite);
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
    padding: 1.6rem 2.0rem;
}
.footer__tertiary-link::after{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/right_arrow_white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.7rem;
    height: 1.4rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2.0rem;
    margin: auto;
}
/* footer__tertiary-socondary */
.footer__tertiary-socondary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.0rem;
}
.footer__tertiary-socondary-item{
    text-align: center;
    border: 0.1rem solid var(--lineGray);
    border-radius: 0.6rem;
    padding: 1.5rem 2.0rem;
    width: calc(( 100% - 0.7rem ) / 2 );
    box-sizing: border-box;
    position: relative;
}
.footer__tertiary-socondary-link{
    display: block;
    font-size: 1.2rem;
    color: var(--colortWhite);
    line-height: 1.6;
    font-family: "Noto Serif JP", serif;
}
.footer__tertiary-socondary-link--icon::after{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/white-button.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.0rem;
    height: 1.0rem;
    position: absolute;
    top: 1.4rem;
    right: 4.7rem;
}

/* footer__tertiary-astaliftmen */
.footer__tertiary-astaliftmen{
    margin-bottom: 4.3rem;
    position: relative;
}
.footer__tertiary-astaliftmen-link{
    display: block;
    border: 0.1rem solid #3B4043;
    padding: 1.5rem 7.05rem 0.9rem;
}
.footer__tertiary-astaliftmen-link::after{
    content: "";
    display: block;
    background-image: url("/astalift-second/assets/images/white-button.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.0rem;
    height: 1.0rem;
    position: absolute;
    top: 1.0rem;
    right: 1.0rem;
}
.footer__tertiary-astaliftmen-img{
    display: block;
    width: 100%;
}

/* footer__tertiary-sublist */
.footer__tertiary-sublist{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
}
.footer__tertiary-sublist-item{
    display: flex;
    align-items: center;
    position: relative;
}
.footer__tertiary-sublist-item--border::before{
    content: "";
    display: block;
    width: 0.1rem;
    height: 1.1rem;
    background-color: var(--colortWhite);
    margin: 0 1.7rem;
}
.footer__tertiary-sublist-item--border::after{
    content: "";
    display: block;
    width: 0.1rem;
    height: 1.1rem;
    background-color: var(--colortWhite);
    margin: 0 1.7rem;
}
.footer__tertiary-sublist-link{
    font-size: 1.1rem;
    color: var(--colortWhite);
    line-height: 1.6;
    font-family: "Noto Sans JP", sans-serif;
}

/* footer__tertiary-copyright */
.footer__tertiary-copyright{
    display: flex;
    align-items: center;
}
.footer__tertiary-copyright-img{
    display: block;
    width: 7.0rem;
    margin-right: 1.9rem;
}
.footer__tertiary-copyright-text{
    font-size: 0.8rem;
    color: var(--colorGray);
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1016px){
    /* footer__tertiary */
    .footer__tertiary{
        padding: 5.0rem 0 1.5rem;
    }
    .footer__tertiary--sp{
        display: none;
    }
    .footer__tertiary--pc{
        display: block;
    }
    .footer__tertiary-content{
        max-width: 118.8rem;
        margin: 0 auto;
        padding: 0 3.0rem;
        flex-shrink: 0;
    }

    /* footer__title */
    .footer__title{
        font-size: 1.2rem;
        font-family: "A-OTF A1 Mincho Std", serif;
    }

    .footer__tertiary-unit{
        margin-bottom: 7.3rem;
        display: flex;
        justify-content: space-between;
    }
    /* footer__tertiary-list */
    .footer__tertiary-list{
        margin-bottom: 0;
        display: flex;
        width: 100%;
    }
    .footer__tertiary-item{
        border-top: 0;
        display: flex;
        flex-direction: column;
        margin-right: 16.0rem;
        flex-shrink: 0;
    }
    .footer__tertiary-item:last-of-type{
        border-bottom: 0;
    }
    .footer__tertiary-item-menu{
        margin-bottom: 3.2rem;
    }
    .footer__tertiary-item-menu:last-of-type{
        margin-bottom: 0;
    }
    .footer__tertiary-link{
        font-size: 1.5rem;
        padding: 0;
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .footer__tertiary-link:hover{
        color: #A0A3A6;
    }
    .footer__tertiary-link::after{
        display: none;
    }
    /* footer__tertiary-socondary */
    .footer__tertiary-socondary{
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: normal;
        margin-bottom: 2.0rem;
    }
    .footer__tertiary-socondary-item{
        text-align: start;
        border: 0;
        border-radius: 0;
        padding: 0;
        width: 100%;
        margin-right: 14.0rem;
    }
    .footer__tertiary-socondary-link{
        font-size: 1.5rem;
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .footer__tertiary-socondary-link:hover{
        color: #A0A3A6;
    }
    .footer__tertiary-socondary-link:first-of-type{
        margin-bottom: 3.5rem;
    }

    /* footer__tertiary-unit-second */
    .footer__tertiary-unit-second{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    /* footer__tertiary-fanclub */
    .footer__tertiary-fanclub{
        align-items: stretch;
        margin-bottom: 0;
    }
    .footer__tertiary-fanclub--title{
        margin-bottom: 1.1rem;
    }
    .footer__tertiary-fanclub-link-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 25.2rem;
    }
    .footer__tertiary-fanclub-link{
        width: calc(( 100% - 0.8rem ) / 2 );
    }
    .footer__tertiary-fanclub-img{
        display: block;
        width: 100%;
    }
    /* footer__tertiary-sns */
    .footer__tertiary-sns{
        display: flex;
        align-items: stretch;
        flex-direction: column;
        margin-bottom: 0;
        /* margin-right: 312rem; */
        position: absolute;
        top: 0;
        left: 31.1rem;
    }
    .footer__tertiary-sns--title{
        margin-bottom: 2.0rem;
    }
    .footer__tertiary-sns-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__tertiary-sns-list--insta{
        margin-right: 3.5rem;
    }
    .footer__tertiary-sns-list--facebook{
        margin-right: 3.6rem;
    }
    .footer__tertiary-sns-list--facebook::before{
        width: 2.1rem;
        height: 2.1rem;
        margin-right: 0.8rem;
    }
    .footer__tertiary-sns--list-twitter::before{
        width: 2.3rem;
        height: 1.9rem;
        margin-right: 0.8rem;
    }
    /* footer__tertiary-astaliftmen */
    .footer__tertiary-astaliftmen{
        margin-bottom: 0;
    }
    .footer__tertiary-astaliftmen-link{
        display: block;
        border: 0;
        padding: 0;
    }
    .footer__tertiary-astaliftmen-link::after{
        display: none;
    }
    .footer__tertiary-astaliftmen-img{
        display: block;
        width: 25.2rem;
    }

    /* footer__tertiary-unit-third */
    .footer__tertiary-unit-third{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.0rem;
        border-top: 0.1rem solid rgba(190, 192, 195 , .2);
        padding: 1.6rem 0 0;
    }
    /* footer__tertiary-copyright */
    .footer__tertiary-copyright-img{
        width: 7.3rem;
        margin-right: 3.2rem;
    }
    .footer__tertiary-copyright-text{
        font-size: 1.1rem;
    }
    /* footer__tertiary-sublist */
    .footer__tertiary-sublist{
        margin-bottom: 0;
    }
    .footer__tertiary-sublist-item{
        display: flex;
        align-items: center;
        position: relative;
    }
    .footer__tertiary-sublist-item--border::before{
        background-color: #CBD2D8;
    }
    .footer__tertiary-sublist-item--border::after{
        background-color: #CBD2D8;
    }
    .footer__tertiary-sublist-link{
        color: #CBD2D8;
        padding-right: 0.8rem;
        /*ふわっとさせる指定*/
        transition : .3s;
    }
    .footer__tertiary-sublist-link:hover{
        color: #A0A3A6;
    }
    .footer__tertiary-sublist-link--button::after{
        content: "";
        display: block;
        background-image: url("/astalift-second/assets/images/gray-button.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        top: 0;
        right: 0rem;
    }
    .footer__tertiary-sublist-link--button-second::after{
        content: "";
        display: block;
        background-image: url("/astalift-second/assets/images/gray-button.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        top: 0;
        right: 3.3rem;
    }
}