:root{
    --content-width: 100%;
    --content-max-width: auto;
    --content-min-width: auto;
    --mainRed: #D7063B;
    --colorBlack: #000000;
    --colortWhite: #FFFFFF;
    --lineGray: #CBD2D8;
}

/* header */
.header{
    padding: 21px 133px 16px 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorBlack);
    position: relative;
}
.header-logo{
}
.header-logo__img{
    display: block;
    width: 105px;
}
@media screen and (min-width: 1016px){
    .header{
        padding: 30px 369px 15px 365px;
        flex-direction: column;
        /* position: relative; */
    }
    .header-logo{
        margin-bottom: 24px;
    }
    .header-logo__img{
        width: 127px;
    }    
}
/* header-sp */
.header-sp{
    display: flex;
    align-items: center;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 24px;
    right: 14px;
}
.hamburger-icon__line{
    width: 100%;
    height: 1px;
    background-color: var(--colortWhite);
}
.header-pc{
    display: none;
}
@media screen and (min-width: 1016px){
    .header-sp{
        display: none;
    }
    .header-pc{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-pc__primary-list{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .header-pc__primary-item{
        width: 148px;
        margin-right: 5px;
        position: relative;
    }
    .header-pc__primary-item:last-of-type{
        margin-right: 0;
    }
    .header-pc__primary-link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 22px 13px 27px;
        border: 1px solid var(--lineGray);
        border-radius: 6px;
        font-size: 12px;
        color: var(--colortWhite);
        line-height: 160%;
    }
    .header-pc__white-button::after{
        content: "";
        display: block;
        background-image: url("/astalift-second/assets/images/white-button.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 12px;
        right: 39px;
    }
    .header-pc__secondary-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-pc__secondary-item:nth-of-type(-n+3){
        margin-right: 70px;
    }
    .header-pc__secondary-link{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: var(--colortWhite);
        line-height: 160%;
    }
    .header-pc__white-arrow::after{
        content: "";
        display: block;
        background-image: url("/astalift-second/assets/images/white-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 10px;
        height: 5px;
        margin-left: 9px;
    }
}

/* main-visual */
.main-visual{
    width: 100%;
    margin: 0 auto;
}
.main-visual__sp-img{
    display: block;
    width: 100%;
    margin-bottom: 40px;
}
.main-visual__pc-img{
    display: none;
}
@media screen and (min-width: 897px){
    .main-visual{

    }
    .main-visual__sp-img{
        display: none;
    }
    .main-visual__pc-img{
        display: block;
        width: 100%;
        margin-bottom: 75px;
    }    
}

/* main-title */
.main-title{
    display: flex;
    align-items: center;
    /* 縦並び */
    flex-direction: column;
    color: var(--mainRed);
    font-size: 30px;
    line-height: 160%;
    font-family:"Playfair Display", serif;
}
@media screen and (min-width: 897px){
}

/* pick-up */
.pick-up{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.pick-up__title::after{
    content: "ピックアップ";
    display: block;
    color: var(--colorBlack);
    font-size: 14px;
    line-height: 160%;
    margin-top: 2px;
}
.pick-up__primary{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    position: relative;
    width: 95%;
    margin-left: 20px;
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 40px 20px 20px rgba(12, 8, 21, .3);
}
.pick-up__primary::before{
    content: "";
    display: block;
    background-color: var(--mainRed);
    width: 100%;
    height: 85%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* グラデーション */
    background: linear-gradient(to right, Red ,rgba(105, 3, 31, 1) , black 140%);
}
.pick-up__primary-list{
    display: flex;
    padding: 30px 0 50px 30px;
    /* 重ね順 */
    z-index: 1;
}
.pick-up__primary-item{
    width: 250px;
    margin-right: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    /* 影 : 左右,上下,ぼかし指定,色 */
    box-shadow: 10px 20px 20px rgba(0, 0, 0, .2);
}
.pick-up__primary-link{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.pick-up__primary-link__img{
    display: block;
    width: 100%;
}
.pick-up__primary-link__text{
    background-color: var(--colortWhite);
    padding: 14px 20px 20px;
    flex-grow: 1;
}
.pick-up__primary-link__title{
    color: var(--colorBlack);
    font-size: 18px;
    line-height: 160%;
    font-family: "Noto Serif JP", serif;
}
.pick-up__primary-link__title::after{
    content: "";
    display: block;
    border: 1px solid var(--mainRed);
    width: 20px;
    margin: 8px 0;
}
.pick-up__primary-link__lead{
    color: var(--colorBlack);
    font-size: 12px;
    line-height: 160%;
    font-family: "Noto Serif JP";
}
@media screen and (min-width: 897px){
}
